.banner {
  background-image: url(./images/event-bg-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px;
}

.feature-header-container {
  background: #eee;
  padding: 30px 10px;
}

.feature-icon {
  padding: 0 8px;
}

.banner-text {
  color: white;
}

.banner-text h1 {
  font-size: 18px;
  font-weight: bold;
}

.global-radius-button {
  text-align: center;
  display: inline-block;
  min-width: 200px;
  height: 50px;
  padding: 11px 10px;
  border-radius: 25px;
  text-decoration: none;
  color: white;
  background: #2c0509;
  font-weight: 600;
}

.feature-small {
  text-align: center;
}

.global-button-green {
  background: #2dbe60;
}

.global-button {
  display: inline-block;
  padding: 16px 20px;
  border-radius: 4px;
  text-decoration: none;
  color: white;
}

.global-button-white {
  border: white 1px solid;
}
.global-button-fill-white {
  color: black;
  background: white;
}
.global-button-red {
  background: red;
}
.list-button .global-button {
  margin-right: 8px;
}

.image-responsive {
  max-width: 100%;
  height: auto;
}

.feature-n-list {
  display: flex;
}

.feature-n-list ul {
  margin: 20px auto;
  padding: 0;
  display: flex;
}

.feature-n-list ul li {
  list-style: none;
}
.feature-n-live {
  margin: auto 0;
  align-items: center;
  border-bottom: 1px white solid;
  color: white;
}

/* .feature-n-list ul li {
  color: white;
  text-decoration: none;
} */

.feature-n-black {
  color: black;
  margin: auto 0;
  align-items: center;
  border-bottom: 1px #2dbe60 solid;
}

.feature-os-black {
  color: black;
}

.banner-os {
  margin-top: 20px;
  display: flex;
}
.banner-os a {
  color: white;
  margin-right: 10px;
}

.feature-body-container {
  padding-bottom: 40px;
}

/* feature */
.feature-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.feature-image {
  height: 60px;
  text-align: center;
  display: block;
  flex: 0 0 15%;
  /* padding-left: 10px;
  padding-right: 10px; */
  margin-bottom: 20px;
}

.feature-title {
  font-size: 18px;
  text-align: center;
}

.feature-decs {
  text-align: center;
  font-size: 17px;
}

.title-blue {
  color: #007bbb;
}

.title-purple {
  color: #7d3daf;
}

.title-orange {
  color: #fe6114;
}

.title-green {
  color: #5ea013;
}

.feature-image-img {
  height: 100%;
  width: auto;
}

.feature-title {
  font-size: 18px;
  text-transform: uppercase;
}
.feature-decs {
  font-size: 16px;
}

.feature {
}

.feature-header {
  font-size: bold;
  color: black;
  text-align: left;
  font-size: 22px;
  margin: 0 auto;
}

.feature-action {
  text-align: center;
  position: relative;
}

.feature-os {
  margin-top: 10px;
  text-align: center;
  font-size: 12px;
}

.feature-os a {
  color: red;
  text-decoration: none;
}

.feature-white a {
  color: white;
  padding: 5px;
}

.feature-button-live {
  border: grey 1px solid;
  color: grey;
}
.feature-button-buy {
  margin-left: 2px;
}

.title-red {
  color: black;
}

/* highlight */
.highlight {
  background: none;
}

.highlight-header-container {
  background: #eee;
  padding: 30px 0;
  text-align: left;
}
.highlight-decs {
  font-size: 12px;
}

.highlight-cell {
  display: flex;
  margin-top: 40px;
}

.highlight-item-icon {
  max-width: 10%;
  padding: 0 1.5rem 0 0;
}
.highlight-item-container h3 {
  text-transform: uppercase;
  font-size: 18px;
}

.highlight-item-container p {
  font-size: 16px;
  margin-top: 15px;
}

.title-white {
  color: black;
}
/* Monitor */
.section-monitor {
  background: #faf9f9;
}
.subscribe-img {
  content: url(./images/world-best-01.png);
}

.download-img {
  content: url(./images/world-best-02.png);
}

.monitor-img {
  content: url(./images/world-best-03.png);
}

.monitor-download-title {
  color: #0085ca;
}

.monitor-header-container {
  background: #eee;
  padding: 30px 0;
  text-align: left;
}

.red-background {
  background: #c31504;
}

.headin-and-p {
}

.headin-and-p h2 {
  font-size: 22px;
  font-size: bold;
  font-weight: 30;
}

.headin-and-p p {
  font-size: 17px;
}

.white-color {
  color: white;
}

/* Syp */
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  width: 340;
}

.spying-feature-col {
}

.spying-feature-col img {
  margin: 20px auto;
}

.spying-feature-col h2 {
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
}

.spying-feature-col p {
  font-size: 18px;
  text-align: center;
  color: black;
}
.spying-feature-col .inline-a-white {
  color: black;
  text-decoration: underline black;
}

.monitor-subscribe-title {
  color: #fe6114;
}
.inline-a-white {
  color: white;
  text-decoration: white;
}
.inline-a-white :hover {
}

/* Why Choose */
.why-choose {
  background: white;
  padding: 60px 0;
}

.red-header-2 {
  text-align: center;
}

.white-decs-p {
  color: white;
}

.white-header-2 {
  color: white;
  font-size: 28px;
}
/* why choose */
.why-choose-ul {
  margin-top: 10px;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.why-choose-ul li {
  position: relative;
  padding-left: 30px;
  margin-top: 10px;
}

.why-choose-ul li::before {
  position: absolute;
  content: "";
  background: url(./images/green-tick.png) no-repeat left;
  background-size: cover;
  width: 20px;
  display: inline-block;
  height: 20px;
  left: 0;
  /* top: 2px; */
}

.inline-a {
  color: black;
  text-decoration: black underline;
}

.inline-a:hover {
  color: black;
}

.border-r-right {
  border-right: none;
  height: auto;
}

/* .nav-header > li > a:hover {
  text-decoration: none;
  background: red;
  color: white;
} */

.nav-item.nav-buy-now {
  text-decoration: none;
  background: red;
  color: white;
}

.product-child-menu {
}
.product-child-menu > ul {
  list-style: none;
}
.product-child-menu > ul > li {
  display: block;
}
.product-child-menu > ul > li > a {
  color: black;
  text-decoration: none;
}

.nav-item {
  padding: 20px;
  display: block;
  color: black;
  text-decoration: none;
}
.nav-item:hover {
  background: red;
  color: white;
  text-decoration: none;
}
.menu-header {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}
.product-child-menu > ul > li > a > i {
  margin-right: 10px;
}
.dropdown-menu-product {
}

.dropdown:hover .dropdown-menu-product {
  display: block;
}

.dropdown-menu-product {
  list-style: none;
  padding: 0;
  margin: 0;
  background: grey;
  display: none;
}

.dropdown-menu-product:hover {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu-product:after {
  bottom: 100%;
  left: 20%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 0, 0, 0);
  border-bottom-color: #ffff;
  border-width: 10px;
  margin-left: -10px;
}

.dropdown-menu-product li {
}
.dropdown-menu-product li a {
  display: block;
  padding: 5px 10px;
  color: black;
  text-decoration: none;
  border-bottom: black 1px solid;
}

.dropdown-menu-product li:last-child > a {
  border-bottom: none;
}

.dropdown-menu-product li a:hover {
  display: block;
  color: red;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  z-index: 1;
  display: block;
}
.container-full-right {
}
.logo {
  display: none;
}
.nav-header {
  width: 100%;
  list-style-type: none;
}

.nav-header > li {
  border-bottom: black 1px solid;
}
.nav-header > li > a {
  padding: 20px;
  display: block;
  color: black;
}

.review-section-margin {
  margin-bottom: 25px;
}

.review-cell-container {
  width: 95%;
  height: 85%;
  background-color: #fff;
  float: none;
  margin: auto 0;
  border-radius: 8px;
  box-shadow: 0 0 20px 1px #bdbdbd;
}

.review-section {
  background: #f6f6f6;
  padding: 42px 0;
}

.review-inner {
  width: 87%;
  margin: 70px auto 0;
  display: flex;
}

.review-left {
  width: 100%;
  height: 100%;
  background-size: cover;
  top: 0;
  left: 0;
  position: absolute;
}

.review-avartar {
  width: 70px;
  height: 70px;
  position: absolute;
  margin: 0 auto;
  margin-top: -35px;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 9px 12px 0 #aeaeae;
}

.review-cell-center {
  top: 0px;
}
/* Review container */

.testi-content-area {
  padding: 55px 20px;
  position: relative;
  text-align: center;
}

.testi-content-area h3 {
  font-size: 17px;
  color: black;
  font-weight: 600;
}

.testi-content-area h4 {
  font-size: 16px;
  color: #c41301;
  font-weight: 600;
}

.testi-content-area p {
  font-size: 13px;
  color: #383838;
  font-weight: 300;
  line-height: 19px;
}

.advance-cell {
  text-align: center;
}

.advance-cell h2 {
  font-size: 18px;
  text-transform: capitalize;
  font-weight: normal;
  text-align: center;
  margin: 25px 0;
}

.advance-function {
  margin: 0 auto;
  display: flex;
  text-align: center;
  width: 165px;
  height: 165px;
  border-radius: 50%;
}

.group {
  padding: 60px 0;
}
.advance-root {
  margin: 60px 0 20px 0;
}

.backgroung-orange {
  background: orange;
}

.backgroung-blue {
  background: #007bbb;
}

.backgroung-green {
  background: #5ea013;
}

.backgroung-violet {
  background: #aa10bc;
}

.new-feature {
  background: #faf9f9;
}

.new-feature-container {
  width: 70%;
  margin: 0 auto;
}

.guaranteed {
  background: #fff;
}
.home-icons {
  width: 100px;
  height: 100px;
  margin: auto auto;
  background-image: url(./images/message.png);
  background-repeat: no-repeat;
  background-position: center;
}

.guaranted-box {
  margin: 0 auto 20px;
  width: 200px;
  height: 200px;
  border: none;
  border-radius: 50%;
  display: flex;
  background: #2dbe60;
}
.guaranted-eye {
  content: url(./images/eye-mobile.png);
}

.guaranteed-list-container {
  padding: 0 0 20px;
}
.guaranted-container {
  color: black;
  text-align: center;
}
.right-after-extra {
  background: none;
}

.guaranted-icon {
  margin: auto auto;
}

.guaranted-container h2 {
  font-size: 20px;
}
.guaranted-container p {
  font-size: 20px;
}

.blog-post {
  margin: 30px 0;
}

.post {
  display: flex;
}

.post-below {
  margin-top: 30px;
}

.blog-image {
  padding: 8px;
  border: solid 1px #bfbfbf;
  background-color: #eee;
  background-size: cover;
  background-repeat: no-repeat;
}

.blog-info {
  height: 100%;
  vertical-align: middle;
  margin: auto 30px;
  align-items: center;
}

.blog-info a {
  color: red;
  font-size: 16px;
  font-style: bold;
}

.blog-info p {
  font-size: 16px;
  font-style: bold;
}

.footer-posts {
}

.footer-posts h2 {
  color: #2dbe60;
  font-size: 21px;
  border-bottom: 1px solid #2dbe60;
  padding: 0 0 10px;
}

.footer-posts ul {
  padding: 0;
  padding: 0;
}

.footer-posts ul li {
  list-style: none;
}

.footer-posts ul li a {
  color: #333;
  font-size: 13px;
  line-height: 2;
}

.section-footer-posts {
  background: #f7f7f7;
  border-top: 1px solid #bdbdbd;
  padding: 30px;
}

.section-copy-right {
  background: #fff;
  border-top: 1px solid #bdbdbd;
  padding: 32px;
}

.disclaimer {
  margin-top: 16px;
}

.disclaimer h2 {
  font-size: 15px;
  color: #2dbe60;
  padding: 10px 0;
  border-bottom: 1px solid #2dbe60;
}

.disclaimer p {
  font-size: 12px;
  text-align: left;
  color: #7a7a7a;
}

.legal {
  padding: 0;
  margin: 3px 0 0;
  list-style: none;
  overflow: hidden;
  display: flex;
}

.legal li {
  padding: 0 10px 0 0;
  font-size: 12px;
}

.legal li a {
  color: #2dbe60;
  font-size: 12px;
}

.review-container {
  margin: 70px auto;
}

@media (min-width: 768px) {
  .container-full-right {
    margin-left: calc((100vw - 1170px) / 2);
    margin-right: 0;
  }

  .nav-header {
    width: auto;
    border-bottom: none;
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    margin-left: auto;
  }
  .nav-header li {
    border-bottom: none;
  }
  .logo {
    display: block;
  }
  .dropdown-menu-product {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
  }
  .header {
    display: block;
  }
  /* Banner */

  .banner {
    padding: 30px;
    background-image: url(./images/one-slide-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 64px;
  }

  .banner .row {
    align-items: center;
  }
  .banner-text {
    color: white;
  }
  .banner-text h1 {
    font-size: 24px;
    font-weight: normal;
  }

  .feature-group {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .feature-header {
    color: red;
    text-align: center;
    max-width: 80%;
    font-size: 34px;
    margin: 0 auto;
  }

  /* Highlight */
  .highlight {
    padding: 60px 0;
    background: url(./images/securing-s-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
  }
  .highlight-header-container {
    background: none;
    padding: 0;
    text-align: center;
  }

  .section-monitor {
    background: #c31504;
  }

  .spying-feature-col {
  }

  .spying-feature-col .inline-a-white {
    color: white;
    text-decoration: white;
  }

  .spying-feature-col h2 {
    font-size: 18px;
    margin-top: 0;
  }

  .spying-feature-col img {
    margin: 0 auto;
  }

  .spying-feature-col p {
    color: white;
  }

  .headin-and-p {
    text-align: center;
    position: relative;
  }

  .headin-and-p h2 {
    font-size: 28px;
  }

  /* why choose */
  .why-choose-ul {
    margin-top: 20px;
  }

  .why-choose-ul li {
    margin-top: 20px;
  }

  .monitor-header h2 {
    color: white;
  }

  .monitor-header p {
    color: white;
  }

  .feature-image-img {
    height: auto;
    width: auto;
  }

  .feature-image {
    text-align: center;
    /*     
    align-items: center;
    justify-content: center; */
  }

  .feature-header-container {
    background: #fff;
  }

  .feature-title {
    text-align: left;
  }

  .feature-decs {
    text-align: left;
  }

  .title-red {
    color: red;
  }

  .title-white {
    color: white;
  }

  .monitor-header-container {
    background: none;
  }

  .subscribe-img {
    content: url(./images/world-best-1.png);
  }

  .download-img {
    content: url(./images/world-best-2.png);
  }

  .monitor-img {
    content: url(./images/world-best-3.png);
  }

  .spying-feature-col h2 {
    font-size: 18px;
    text-align: center;
    margin-top: 60px;
    color: white;
  }

  .why-choose-ul li::before {
    background: url(./images/icloudarrow2.png) no-repeat left;
    /* top: 2px; */
  }

  .review-cell-container {
    width: 317px;
    height: 323px;
    position: relative;
    text-align: center;
    margin: 0 auto;
    background: none;
    box-shadow: none;
  }

  .review-avartar {
    top: 0px;
    margin-top: 0px;
  }

  .testi-content-area {
    padding: 89px 35px;
    position: relative;
  }

  .review-cell-center {
    top: -30px;
  }

  .border-r-right {
    border-right: 1px dashed grey;
    height: 170px;
  }

  .advance-root {
    margin: 60px 0 100px 0;
  }

  .guaranteed {
    background: #c41301;
  }

  .right-after-extra {
    background: url(./images/right-after-extra.png) no-repeat top right;
  }

  .guaranted-box {
    border: white dashed 2px;
    background: none;
  }

  .guaranted-eye {
    content: url(./images/eye.png);
  }

  .guaranted-container {
    color: white;
  }

  .footer-posts h2 {
    color: #c41301;
    border-bottom: 1px solid #bdbdbd;
  }

  .disclaimer h2 {
    border-bottom: none;
    color: #666;
  }

  .legal li {
    padding: 0 10px 0 0;
    font-size: 12px;
  }

  .legal li a {
    color: #c41301;
    font-size: 12px;
  }

  /* .review-div-center {
    order: -1;
  } */
}

@media (min-width: 720px) {
}

@media (max-width: 992px) and (min-width: 768px) {
  .review-div-center {
    order: -1;
  }
}

@media screen and (max-width: 960px) and (min-width: 720px) {
  .advance-function {
    width: 140px;
    height: 140px;
  }
}
